{% comment %} {% extends 'patient/patientbase.html' %}
{% block content %}
<head>
    
</head>
<br><br>
<body>
  

<div class="container">

 
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="card-body">
              <div class="blood">
                <i class="fas fa-sync-alt xyz"></i>
              </div><br>
              <div>
                Request Made <br>
                  {{requestmade}}
              </div>                            
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                  <i class="fas fa-sync xyz"></i>
                </div><br>
                <div>
                    Pending Request <br>
                    {{requestpending}}
                </div>                            
            </div>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                    <i class="fas fa-check-circle xyz"></i>
                  </div><br>
                  <div>
                       Approved Request<br>
                      {{requestapproved}}
                  </div>                            
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                    <i class="fas fa-times-circle xyz"></i>
                  </div><br>
                  <div>
                       Rejected Request <br>
                      {{requestrejected}}
                  </div>                            
              </div>
            </div>
        </div>

    </div>
</div>
</body>

{% endblock content %} {% endcomment %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>


    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="/patient/make-request" class="nav-link px-2 text-white">Make Request</a></li>
              <li><a href="/patient/my-request" class="nav-link px-2 text-white">Request History</a></li>
             </ul>
  
     
   
             
              <a class="nav-link" href="{% url 'patient-profile' %}">My Profile</a>
             
            <div class="text-end">
                <a href="/logout" style="background-color: #8B0000;" class="btn text-white">Logout</a>
          
            </div>
            &nbsp;&nbsp;
            <div class="text-end">
              <a href="/donor/nearby-donors" style="background-color: green;" class="btn text-white">Nearby Donors</a>
        
          </div>
          </div>
        </div>
      </header>
      <br><br>
      <body>
        
      
      <div class="container">
      
       
          <div class="row">
            <div class="col-sm-3">
              <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                      <i class="fas fa-sync-alt xyz"></i>
                    </div><br>
                    <div>
                      Request Made <br>
                        {{requestmade}}
                    </div>                            
                </div>
              </div>
            </div>
      
            <div class="col-sm-3">
              <div class="card bg-light">
                  <div class="card-body">
                      <div class="blood">
                        <i class="fas fa-sync xyz"></i>
                      </div><br>
                      <div>
                          Pending Request <br>
                          {{requestpending}}
                      </div>                            
                  </div>
                </div>
            </div>
      
            <div class="col-sm-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="blood">
                          <i class="fas fa-check-circle xyz"></i>
                        </div><br>
                        <div>
                             Approved Request<br>
                            {{requestapproved}}
                        </div>                            
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="blood">
                          <i class="fas fa-times-circle xyz"></i>
                        </div><br>
                        <div>
                             Rejected Request <br>
                            {{requestrejected}}
                        </div>                            
                    </div>
                  </div>
              </div>
      
          </div>
      </div>
      
      </body>
     
</html>
{% endblock content %}