{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Patient Signup</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    {% include "blood/navbar.html" %}

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <br><br><br>
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Patient Signup</h2>
                </div>
                <div class="card-body">
                    <form method="POST" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- First Name -->
                        <div class="form-row">
                            <div class="name">First Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.first_name|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-row">
                            <div class="name">Last Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.last_name|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.username|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.email|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.password|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Age -->
                        <div class="form-row">
                            <div class="name">Age</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.age|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Blood Group -->
                        <div class="form-row">
                            <div class="name">Blood Group</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="bloodgroup" required>
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>O+</option>
                                            <option>O-</option>
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                            <option>AB+</option>
                                            <option>AB-</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Disease -->
                        <div class="form-row">
                            <div class="name">Disease</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.disease|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Doctor Name -->
                  <div class="form-row">
                            <div class="name">Doctor Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.doctorname|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>  

                        <!-- Address -->
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.address|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>
                        <div id="map" style="height: 400px; width: 100%;"></div>
                       <input type="hidden" name="latitude" id="latitude">
                       <input type="hidden" name="longitude" id="longitude">
                        <!-- Mobile -->
                        <div class="form-row">
                            <div class="name">Mobile</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.mobile|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Profile Picture -->
                        <div class="form-row">
                            <div class="name">Profile Pic</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.profile_pic|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div>
                            <button class="btn btn--radius-2 btn-danger" type="submit">Register</button>
                        </div>
                    </form>
                    <br>
                    <p style="text-align: center;">
                        Already have an account? 
                        <a style="text-decoration: none;" href="/patient/patientlogin">Click here to login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Initialize the map
        function initMap() {
            // Get the user's current location using Geolocation API
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var userLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    
                    // Update the latitude and longitude input fields
                    document.getElementById('latitude').value = userLocation.lat;
                    document.getElementById('longitude').value = userLocation.lng;

                    // Initialize the map centered at the user's location
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 14,
                        center: userLocation,
                    });

                    // Add a marker at the user's location
                    new google.maps.Marker({
                        position: userLocation,
                        map: map,
                        draggable: true,
                    });
                }, function(error) {
                    alert("Geolocation failed. Please ensure location services are enabled.");
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
    </script>
    <script src="https://maps.gomaps.pro/maps/api/js?key=AlzaSyaD9QbroPXA0kAC3I7j7iZv8jpe9z6NPmp&callback=initMap" async defer></script>
    {% include "blood/footer.html" %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

  </body>
</html>
