
{% block content %}
{% load widget_tweaks %}
{%load static%}
<head>
    
   </head>
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .hero {
          background-image: url('hero.jpg'); //yesma random image hala hai afai
          margin: 0;
          height: 80vh; 
          background-size: cover; 
          background-repeat: no-repeat; 
          background-position: center; 
      }
      
      
      #hero-content{
          background-color: rgba(55, 53, 53, 0.4);
          color: white;
          padding: 20px;
          border-radius: 6px;
      }
      </style>
</head>


    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="/admin-donor" class="nav-link px-2 text-white">Donor</a></li>
              <li><a href="/admin-patient" class="nav-link px-2 text-white">Patient</a></li>
              <li><a href="/admin-donation" class="nav-link px-2 text-white">Donations</a></li>
              <li><a href="/admin-request" class="nav-link px-2 text-white">Blood Requests</a></li>
              <li><a href="/admin-request-history" class="nav-link px-2 text-white">Request History</a></li>
              <li><a href="/admin-blood" class="nav-link px-2 text-white">Blood Stock</a></li>

              
              
             </ul>
  
     
   
    
            <div class="text-end">
                <a href="/logout" style="background-color: #8B0000;" class="btn text-white">Logout</a>
          
            </div>
          </div>
        </div>
      </header>
<br><br>
<div class="container">
    <H4 class="text-center">BLOOD DONATION DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Donor Name</th>
                <th scope="col">Disease</th>
                <th scope="col">Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Unit</th>
                <th scope="col">Request Date</th>
                <th scope="col">Status</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in donations %}
            <tr>
                <td> {{t.donor}}</td>
                <td> {{t.disease}}</td>
                <td> {{t.age}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.unit}}</td>
                <td>{{t.date}}</td>
                <td>{{t.status}}</td>
                {% if t.status == 'Pending' %}
                <td class="text-right">
                    <button class="btn btn-primary badge-pill" style="width: 100px;"><a  style="text-decoration: none;color: white;" href="{% url 'approve-donation' t.id  %}">APPROVE</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'reject-donation' t.id  %}">REJECT</a> </button>
                </td>
                {% elif  t.status == 'Approved' %}
                <td><span class="label warning">{{t.unit}} Unit Added To Stock</span></td>

                {% else %}
                <td><span class="label danger">0 Unit Added To Stock</span></td> 
                {% endif %}
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>
<body>
 
    {% comment %} <footer style="background-color: black;">
<div class="container text-center py-4 text-white">
 <p>Blood Bank Management System
   <br>
   Made by BloodBridge &copy; 2024
</p>

</div>
  
    </footer> {% endcomment %}


 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

{% endblock content %}
